* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  background-color: #227484;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 50px auto;
}

#result {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border: none;
  margin-bottom: 10px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

button:hover {
  background-color: #d0d0d0;
}
